nav{
    margin:50px 38px 0px 39px;
}


.navber{
    display: flex;
    justify-content: space-between;
}

.bnt{
    font-size: 15px;
    margin: 25px 10px 15px 30px;
    padding:15px 30px 15px 30px ;
    color: rgba(0, 106, 80, 1);
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius:6px ;
}

.banner{
    display: flex;
    justify-content: center;
    margin:50px 38px 0px 39px;
    border-radius: 8px;
    background-color:rgba(198, 228, 214, 1) ;

}

.banner-container{
    display: flex;
    padding: 150px 150px 90px 60px;
   

}

.banner-title{
    justify-content: center;

}

.banner-title{
    font-size: 24px;
    color:rgba(14, 14, 14, 0.5) ;
}

.banner-sub-title{
    font-size: 56px;
    color: rgba(14, 14, 14, 1);
}

.banner-bnt{
    font-size: 18px;
    border: 2px solid rgba(0, 106, 80, 1);
    padding: 17px 34px 17px 34px;
    border-radius: 6px;
    color:rgba(255, 255, 255, 1) ;
    background-color: rgba(0, 106, 80, 1);
}

.banner-img{
    width: 350px;
    margin-left: 100px;
}

/* style pillars of bangladesh */

.sub-title{
    font-size: 20px;
    font-weight: bold;
    color:rgba(14, 14, 14, 0.8) ;
}

.sub-discription{
    font-size:16px ;
    color:rgba(14, 14, 14, 0.7) ;
}

.margin{
    margin:50px 50px 0px 50px;
}

.pillar{
    display: flex;
    gap: 24px;
}

.pillar-content{
    padding:12px 24px 24px 24px ;
    border-radius: 16px;
    background-color:rgba(255, 255, 255, 1) ;
    border: 1px solid rgba(14, 14, 14, 0.15) ;
    box-shadow: 0px 0px 3px 0px;
}

/* the vision of future */

.vision{
    margin-top: 100px;
}
.vision-container{
    display: flex;
    gap:100px;
    margin-top:32px;
    margin-bottom: 100px;
}
.vision-contant{
    padding:12px 24px 24px 24px ;
    border-radius: 16px;
    background-color:rgba(255, 255, 255, 1) ;
    box-shadow: 0px 0px 3px 0px;
    background-color:rgb(220, 229, 245) ;

}

.vision-2{
    padding:12px 24px 24px 24px ;
    border-radius: 16px;
    background-color:rgba(255, 255, 255, 1) ;
    box-shadow: 0px 0px 3px 0px;
    border:none;


}

.vision-3{
    padding:12px 24px 24px 24px ;
    border-radius: 16px;
    background-color:rgba(255, 255, 255, 1) ;
    box-shadow: 0px 0px 3px 0px;
    border: none;
    background-color: rgb(238, 215, 161);

}

.learn-btn{
    padding: 11px 20px 11px 20px;
    border-radius: 6px;
    background-color:rgba(84, 144, 245, 1) ;
    border: rgba(84, 144, 245, 1);

}

.learn-btn-2{
    padding: 11px 20px 11px 20px;
    border-radius: 6px;
    background-color: rgba(9, 161, 92, 1);
    border: rgba(9, 161, 92, 1) ;
}

.learn-btn-3{
    padding: 11px 20px 11px 20px;
    border-radius:6px;
    background-color: rgba(255, 194, 57, 0.76);
    border: rgba(255, 194, 57, 0.76);

}


/*  Your Opinion Matters  */


.matter-container{
    background-color:rgba(255, 255, 255, 1) ;
    border-radius:6px;
    box-shadow: 0px 0px 1px 0px;
    padding: 45px 40px 45px 40px;
    

}

table{
    width: 100%;
}

table, td , th {
    border:1px solid rgba(198, 228, 214, 1);
    border-collapse:collapse;
  }

  .matter-description{
    font-size: 20px;
    color: rgba(14, 14, 14, 1);
    padding: 20px 200px 20px 200px;
  }


.sub-title-1{
    font-size: 20px;
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    padding: 20px 24px 20px 20px;
    background-color:rgba(198, 228, 214, 1) ;
}


  .matter-sub-title{
    font-size: 20px;
    color: rgba(14, 14, 14, 1);
    padding: 20px 900px 20px 80px;

    background-color:rgba(198, 228, 214, 1) ;
  }

  .matter-btn{
    font-size: 16px;
    color: rgba(14, 14, 14, 1);
    padding: 5px 20px 5px 20px;
    margin: 40px;
    font-weight: bold;

  }

  .matter-description{
    padding: 20px 24px 20px 20px;
    font-weight: bold;
  }

  .matter-title-3{
    font-size: 40px;
    font-weight: bold;
  }

  /* Recent news  */

  .date-container{
    display: flex;
    gap: 10px;
  }

  .recent-container{
    display: flex;
    background-color:rgba(255, 255, 255, 1)  


  }

.recent-content{
    background-color:rgba(255, 255, 255, 1) ;
    border-radius:8px;
    box-shadow: 0px 0px 1px 0px;
    padding: 45px 40px 45px 40px;
    margin-top: 80px;


}
.rent-1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    gap: 10px;
}



  .recent-container-1{
    background-repeat: no-repeat;
    background-position:left;
    background-image: url("../assets/satelite.png");
    border-radius: 24px;
    height: 300px;
    width: 300px;

  }

  .satellite-container{
    margin-left: 350px;
    height: 700px;
    width: 700px;

  }
.recent-title{
    font-size: 40px;
    font-weight: bold;
}

.bnd-title{
    font-size: 32px;
    font-weight: bold;
}

.read-bnt{
    background-color:rgba(0, 106, 80, 1) ;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    padding: 11px 20px 11px 20px;
    border: 2px solid rgba(0, 106, 80, 1);

}

.satellite-container-2{
    background-image: url("../assets/satelite.png");
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 24px;
    height: 300px;
    width: 300px;
}


/* Donate  */

.donate-content{
    justify-content: flex;
    background-color:rgba(255, 255, 255, 1) ;
    border-radius:8px;
    padding: 45px 40px 45px 40px;
    margin-top: 80px;
}

.donate-container{
    justify-content:center;
    display: flex;
    gap:10px;
}

.donate-box{
    background-color:rgba(255, 255, 255, 1) ;
    border-radius:6px;
    box-shadow: 0px 0px 1px 0px;
    padding: 40px 40px 40px 40px;
    margin-top: 80px;
}

.donate-box-1{
    background-color:rgba(198, 228, 214, 1) ;
    border-radius:6px;
    box-shadow: 0px 0px 1px 0px;
    padding: 40px 40px 40px 40px;
    margin-top: 80px;
    
}

.donare-title{
    padding: 40px 600px;
    font-size:40px ;
    font-weight: bold;
}

.donate-sub-title{
    padding: 40px 300px;
    color: rgba(14, 14, 14, 0.7);
}

.take{
 margin-top: -800px;
}


.done{
    margin-top: 10px;
}

.taka-box{
    padding: 34px 34px 34px 34px;
    margin: 34px 634px 34px 534px;
 

}

.tk-1{
    margin-top: -30px;
    margin-bottom: 50px;
    border-radius: 8px;
    color: white;
    margin-left: -50px;
    padding:34px 304px 34px 304px;
    box-shadow: 0px 0px 1px 0px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    border: 2px solid rgba(0, 106, 80, 1);
}
.tk-2{
    margin-left: 300px;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-weight: bold;
    color: white;
    padding: 20px 20px 20px 20px;
}


/* subscribe */

